* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
html,
body {
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-size: 0.89285714vw;
  overflow-x: hidden;
  font-family: 'Bebas', sans-serif;
  background-color: #181818;
}
html .locked,
body .locked {
  overflow-y: hidden;
}
.contentWrapper {
  width: 100vw;
  margin: 0 auto;
  padding: 0 8.37053571vw;
  position: relative;
}
header {
  width: 100vw;
  height: 6.97544643vw;
  z-index: 2;
  position: fixed;
  font-size: 1.00446429vw;
  line-height: 6.97544643vw;
  transition: background-color 0.3s ease-in-out;
}
header.display {
  background-color: #CF5300;
  transition: background-color 0.3s ease-in-out;
}
header .logo {
  float: left;
}
header .links {
  float: left;
  padding: 0px 0px 0px 22.04241071vw;
}
header .links a {
  padding: 0px 2.79017857vw 0px 0px;
}
header .links a:nth-child(6) {
  padding: 0px;
}
header .socials {
  float: right;
  font-size: 1.33928571vw;
}
header .socials a {
  padding: 0px 2.79017857vw 0px 0px;
}
header .socials a:nth-child(4) {
  padding: 0px;
}
@media (max-width: 1200px) {
  header {
    height: 80px;
    font-size: 14px;
    line-height: 80px;
  }
  header .logo {
    font-size: 14px;
  }
  .pageContainer {
    padding: 80px 0px 0px 0px;
  }
  nav {
    padding: 80px 0px 0px 0px;
  }
}
